.back-home{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #495057;
    padding: 12px 12px;
    width: fit-content;
    float: right;
    margin: 0px 12px 12px 12px;
    border: none;
    border-radius: 5px;
}